################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exhibition.Portal.Api/obj
/Exhibition.Portal.Api/wwwroot/src/assets
/Exhibition.Core/bin/Debug/netstandard2.0
/Exhibition.Core/obj
/Exhibition.Portal.Api/bin/Debug/netcoreapp2.1
/Exhibition.Portal.Api/data
/Exhibition.Portal.Api/wwwroot/node_modules/.bin
/Exhibition.Portal.Api/wwwroot/node_modules
/Exhibition.Portal.Api/assets/userfiles
/Agents/Exhibition.Agent.Show/bin/Debug
/Agents/Exhibition.Agent.Show/obj/Debug
/packages
/Test/UnitTest
/Agents/Exhibition/bin/Debug
/Agents/Exhibition/obj/Debug
/Test/ConsoleApp1/obj
/Test/ConsoleApp1/bin/Debug/netcoreapp2.1
/Exhibition.Core/bin/Release/netstandard2.0
/Exhibition.Portal.Api/bin/Release/netcoreapp2.1
/Exhibition.Portal.Api/assets/Images
/Agents/Exhibition/obj/Release
/Agents/SerialPortHelper/bin/Debug
/Agents/SerialPortHelper/obj/Debug
/Agents/SerialPortHelper/obj/Release
/Exhibition.Portal.Api/logs
