################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Exhibition.Portal.Api/obj
/Exhibition.Portal.Api/wwwroot/src/assets
