<div class="modal-header">
    <h4 *ngIf="(current==null||current.name=='')" class="modal-title" id="modal-basic-title">新增指令</h4>
    <h4 *ngIf="(current!=null&&current.name!='')" class="modal-title" id="modal-basic-title">修改指令(current.name)</h4>
    <button type="button" class="close" aria-label="Close" (click)="currentModalRef.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="指令名称" [(ngModel)]="current.name" value="{{current.name}}" disabled="disabled">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="指令说明" [(ngModel)]="current.description" value="{{current.description}}">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-select [formControl]="terminalCtrl" placeholder="设备" #singleTerminalSelect>
                    <mat-option *ngFor="let terminal of terminals  " [value]="terminal">
                        {{terminal.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field>
                <mat-select [formControl]="windowCtrl" placeholder="选择默认窗口" #windowSelect>
                    <mat-option *ngFor="let window of windows " [value]="window">
                        {{window.id}} | {{window.location?.x}} *
                        {{window.location?.y}} (x * y) |
                        {{window.size?.width}}
                        * {{window.size?.height}} (宽 * 高)
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-check">
                <label class="form-check-label" >                    
                    <input class="form-check-input" #elmOnlyShowFolder type="checkbox" 
                    (change)="CheckedOnlyShowFolder(elmOnlyShowFolder.checked)"  >
                    <span class="form-check-sign" >
                        <span class="check"></span>
                    </span>
                    <p>只显示文件夹</p>
                </label>                
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field>
                <mat-select [formControl]="bankGroupsCtrl" placeholder="选择资源文件(特别提醒:一个指令只能包含一种类型的文件或单个文件夹)" [(ngModel)]="current.resources"
                    [multiple]="true" #multiSelect>
                    <ngx-mat-select-search [formControl]="bankGroupsFilterCtrl"></ngx-mat-select-search>
                    <mat-optgroup *ngFor="let group of filteredBankGroups | async" [label]="group.name">
                        <mat-option *ngFor="let resource of group.items" [value]="resource">
                            {{resource.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="备注" [(ngModel)]="current.description" value="{{current.description}}"></textarea>
            </mat-form-field>
        </div>
        <input type="hidden" [(ngModel)]="current.windows">
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="CreateOrUpdateDirective(current)">保存</button>
    <button type="button" class="btn btn-white" (click)="currentModalRef.close('Close')">关闭</button>
</div>