<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">设备管理</h4>
                        <p class="card-category">管理播放终端</p>
                    </div>
                    <div class="card-body ">
                        <div class="inline-block">
                            <div class="dropdown">
                                <!-- <button mat-raised-button (click)="OpenTerminalEdit({ip:'192.168.'})" class="btn btn-white  ">
                                    <i class="material-icons">home</i>
                                    新增
                                </button> -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <th style="width: 10%">#名称</th>
                                    <th style="width: 10%">类型</th>
                                    <th style="width: 20%">说明</th>
                                    <th>相关设置</th>                                    
                                    <th></th>                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let terminal of terminals">
                                        <td>
                                            {{terminal.name}}
                                        </td>
                                        <td>
                                            {{GetTerminalTypeName(terminal.type)}}
                                        </td>
                                        <td>
                                            {{terminal.description}}
                                        </td>
                                        <td>{{GenernateTerminalSettings(terminal)}}
                                        </td>
                                        <td class="td-actions text-left">
                                            <button mat-raised-button type="button" (click)="OpenTerminalEdit(terminal)" matTooltip="编辑"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>                                          
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 
<ng-template #window let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">播放窗口xx</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label for="dateOfBirth">窗口大小</label>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="宽(像素)">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="高(像素)">
                </mat-form-field>
            </div>
        </div>
        <label for="dateOfBirth">窗口坐标</label>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="X(像素)">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Y(像素)">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close('Close')">保存</button>
        <button type="button" class="btn btn-white" (click)="modal.close('Close')">关闭</button>
    </div>
</ng-template> -->