<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text">徐州展厅管理</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item" *ngFor="let sidebar of Navigation; index as i;first as isFirst; ">
        <a class="nav-link {{sidebar.isExpanded? '':'collapsed'}}" (click)='collapse(sidebar)' href="#" 
        data-toggle="collapse" data-target="#{{sidebar.Id}}" >
          <i class="fas fa-fw fa-folder"></i>
          <span>{{sidebar.Name}}</span>
        </a>
        <div id="{{sidebar.Id}}" class="collapse {{sidebar.isExpanded? 'show':''}}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">{{sidebar.Tips}}</h6>
            <a class="collapse-item" *ngFor="let item of sidebar.Items" [routerLink]='[item.Uri]'>{{item.Text}}</a>           
          </div>
        </div>
      </li>   
  </ul>